<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>680060282063-2to1hkoc07b7c9ol22i1ir4742s1o7ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680060282063-2to1hkoc07b7c9ol22i1ir4742s1o7ko</string>
	<key>API_KEY</key>
	<string>AIzaSyDR3dlWwPlY9CNL_z16XfpUV4YC45R2J5A</string>
	<key>GCM_SENDER_ID</key>
	<string>680060282063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawelszudrowicz.specialistapp.Specialist</string>
	<key>PROJECT_ID</key>
	<string>specialistapp-74924</string>
	<key>STORAGE_BUCKET</key>
	<string>specialistapp-74924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680060282063:ios:b75e178582514cfe</string>
	<key>DATABASE_URL</key>
	<string>https://specialistapp-74924.firebaseio.com</string>
</dict>
</plist>